<h1>New Game</h1>
<div class="grid_letter">
  <% @grid_letter.each do |letter| %>
    <div class="letter"><%= letter %></div>
  <% end  %>
  <p>What is the longest word you can find</p>
  <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag 'grid', "#{@grid_letter.join}"  %>
    <input type="text" class="form-control" name="word">
    <input type="submit" class="btn btn-primary" value="submit">
  </form>
</div>
<%= form_with(url: score_path, method: :post) do |form| %>
  <div class="form-group">
    <%= text_field_tag 'word' %>
    <%= hidden_field_tag 'grid', "#{@grid_letter.join}" %>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
<% end %>
